html{
	margin:0;
	padding:0;
}

body{
    margin:0;
    padding:0;
}

.navbar{
    width: 100%;
    height: 8vh;
    margin:0;
    padding: 0;
	position:fixed;
}

#logo{
	width: 21vw;
	display:inline-block;
}
#ham{
    width:5vw;
	height: 8vh;
	display:inline-block;
	padding-left:1vw;
	
}
#ham-img{
	height 90%; 
	vertical-align: middle;
	line-height: 90%;
	width: auto;
	padding-top:10%;
}
#youtube-logo{
    height: 30px;
    width: 14vw;
	display:inline-block;
}

#youtube-logo-img{
    height: 90%;
    width: auto;
	vertical-align: middle;
	line-height: 90%;
	/*padding-top:10%;*/
}
#searchbar{
	width: 45vw;
	display:inline-block;
	padding-left:2vw;
	padding-right:2vw;
}
#div-searchbar{
	padding-top: 1.6vh;
	height: 6.4vh;
	width: 100%;
	display:inline-block;
}
#search-bar-input{
	height: 60%;
	width: 90%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	line-height: 60%;
	display: inline-block;
	border-color:grey;
	border-style:solid;
	border-width: 1px;
	
}
#search-bar-button{
	height: 4.2vh;
	padding:0;
	margin:0;
	width:5%;
	vertical-align: middle;
	line-height: 4.2vh;
	display:inline-block;
	background-color: #F8F8F8;
	border-color:grey;
	border-style:solid;
	border-width: 1px;
	border-left-width: 0px;
	
}
#search-bar-img{
	max-height: 100%;
	max-width: 100%;
}
#options{
	width: 27vw;
	display:inline-block;
	text-align:right;
	justify-content: center;
	
}
.div-img-container{
	height: 80%;
	width: 10%;
	display: inline-block;
	text-align:right;
	vertical-align: middle;
	line-height: 80%;
}

.options-img{
	
	
}